main {
    width: 100%;
    height: calc(100vh - 40px);
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fdf3e3;
    min-height: 80vh !important;
}
#testo {
    width: 310px;
    margin: 20px 0;
}

.error {
    color: red;
    margin-top: 5px;
    display: block;
    font-size: 15px;
}

.success {
    color: green;
    font-size: 15px;
}

.back-link {
    text-align: center;
    margin-top: 20px;
}
.back-link a {
    color: #47704b;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}
.back-link a:hover {
    text-decoration: underline;
}