main {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4CAF50;
    margin-right: 10px;
}

.post, .blog, .utenti {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.post-info, .blog-info, .utenti-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}

.post-info a, .blog-info a {
    margin: 0 5px;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.view-profile-button {
    margin-left: 482px;
    padding: 2px 8px;
    background: #47704b;
    color: #fff6e6;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid #47704b;
    position: relative;
}

.view-profile-button:hover {
    background-color: rgb(57,57,57);
}